<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Music survey</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Music survey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link disabled" aria-current="page" href="/">Survey</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="results">Results</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="content">
    <h1>Music survey</h1>
    <form action="/submit" method="post" class="form-container">
      <div>
        <label class="mainLabel" for="name" >What is your name (or nickname)?</label>
        <br>
        <input type="text" name="name" id="name" placeholder="Type your name" required/>
      </div>
      <hr>
      <div>
        <label class="mainLabel" for="genres">What genre of music is your absolute favorite?</label>
        <select name="genres" id="genres">
          <option value="Rock">Rock</option>
          <option value="Hard rock">Hard rock</option>
          <option value="Metal">Metal</option>
          <option value="Death metal">Death metal</option>
          <option value="Punk">Punk</option>
          <option value="Jazz">Jazz</option>
          <option value="Pop">Pop</option>
          <option value="Rap">Rap</option>
          <option value="Hip Hop">Hip Hop</option>
          <option value="Country">Country</option>
          <option value="Classical">Classical</option>
          <option value="Electronic">Electronic</option>
          <option value="R&B">R&B</option>
          <option value="Other" selected>Other</option>
        </select>
      </div>
      <hr />
      <div>
        <label class="mainLabel" for="frequency">How often do you listen to music?</label>
        <br>
        <input type="radio" name="frequency" id="frequency-daily" value="Daily" checked/>
        <label class="radio" for="frequency-daily">Every day</label>
        <br />
        <input type="radio" name="frequency" id="frequency-weekly" value="Weekly"/>
        <label class="radio" for="frequency-weekly">Every other day</label>
        <br />
        <input type="radio" name="frequency" id="frequency-monthly" value="Monthly"/>
        <label class="radio" for="frequency-monthly">Every now and then</label>
        <br />
        <input type="radio" name="frequency" id="frequency-never" value="Never"/>
        <label class="radio" for="frequency-never">I don't listen to music</label>
      </div>
      <hr />
      <div>
        <label class="mainLabel" for="hours">How many hours a day do you listen to music?</label>
        <input type="number" name="hours" id="hours" min="0" max="24" step=".5" value="0" required/>
      </div>
      <hr />
      <div>
        <label class="mainLabel" for="instruments">Do you play any musical instruments?</label>
        <br>
        <input type="checkbox" name="instruments" id="instruments-guitar" value=" Guitar" />
        <label class="radio" for="instruments-guitar">Guitar</label>
        <br>
        <input type="checkbox" name="instruments" id="instruments-bass" value=" Bass" />
        <label class="radio" for="instruments-bass">Bass</label>
        <br/>
        <input type="checkbox" name="instruments" id="instruments-drums" value=" Drums" />
        <label class="radio" for="instruments-drums">Drums</label>
        <br/>
        <input type="checkbox" name="instruments" id="instruments-piano" value=" Piano" />
        <label class="radio" for="instruments-piano">Piano</label>
        <br/>
        <input type="checkbox" name="instruments" id="instruments-violin" value=" Violin" />
        <label class="radio" for="instruments-violin">Violin</label>
        <br/>
        <input type="checkbox" name="instruments" id="instruments-saxophone" value=" Saxophone" />
        <label class="radio" for="instruments-saxophone">Saxophone</label>
        <br/>
        <br/>
        <input type="checkbox" id="instruments-other"/>
        <input disabled type="text" name="instruments" id="instruments-specify" placeholder="Other"/>
        <br/>
      </div>
      <hr />
      <button type="submit" class="submit">Submit</button>
    </form>
  </main>
  <footer class="footer">
    <p>Ondřej Honus - 2024 - Web survey &copy</p>
  </footer>
  <script>
    let otherInstruments = document.getElementById('instruments-other');
    let specifyInstruments = document.getElementById('instruments-specify');
    otherInstruments.addEventListener('change', () => {
      if (otherInstruments.checked) {
        specifyInstruments.disabled = false;
      } else {
        specifyInstruments.disabled = true;
      }
    });
  </script>
</body>

</html>